{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    },
    "baseUrl": "./",
    "target": "es2022",
    "paths": {
      "@Src/*": [
        "./src/*"
      ],
      "@Root/*": [
        "./*"
      ]
    },
    "keepClassNames": true
  },
  "sourceMaps": true,
  "isModule": true,
  "module": {
    "type": "commonjs",
    "ignoreDynamic": false
  }
}
